.MultiSelect {
	width: 100%;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	display: block;
	position: relative;
}

.MultiSelect .monitor {
	width: 99%;
	line-height: 18px;
	padding: 0 0 0 4px;
	margin: 0;
	overflow: hidden;
    text-align: left;
}
.MultiSelect.mac .monitor {
	background: url("img/mac/monitor-left.png") top left no-repeat;
}
.MultiSelect.win .monitor {
	background: url("img/win/monitor-left.png") top left no-repeat;
}
.MultiSelect.chromelike .monitor {
	background: url("img/chromelike/monitor-left.png") top left no-repeat;
    line-height: 20px;
}

.MultiSelect .monitor div {
	padding: 0 18px 0 0;
}
.MultiSelect.mac .monitor div {
	background: url("img/mac/monitor-right.png") top right no-repeat;
}
.MultiSelect.win .monitor div {
	background: url("img/win/monitor-right.png") top right no-repeat;
}
.MultiSelect.chromelike .monitor div {
	background: url("img/chromelike/monitor-right.png") top right no-repeat;
    padding: 0 20px 0 0;
}

.MultiSelect .monitor div div {
	padding: 1px 0 0 0;
	margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.MultiSelect.mac .monitor div div {
	background: url("img/mac/monitor-center.png") top left repeat-x;
}
.MultiSelect.win .monitor div div {
	background: url("img/win/monitor-center.png") top left repeat-x;
}
.MultiSelect.chromelike .monitor div div {
	background: url("img/chromelike/monitor-center.png") top left repeat-x;
}

.MultiSelect.mac .monitor.active { background: url("img/mac/monitor-left-active.png") top left no-repeat; }
.MultiSelect.mac .monitor.active div { background: url("img/mac/monitor-right-active.png") top right no-repeat; }
.MultiSelect.mac .monitor.active div div { background: url("img/mac/monitor-center-active.png") top right repeat-x; }

.MultiSelect.win .monitor.active { background: url("img/win/monitor-left-active.png") top left no-repeat; }
.MultiSelect.win .monitor.active div { background: url("img/win/monitor-right-active.png") top right no-repeat; }
.MultiSelect.win .monitor.active div div { background: url("img/win/monitor-center-active.png") top right repeat-x; }

.MultiSelect.chromelike .monitor.active { background: url("img/chromelike/monitor-left-active.png") top left no-repeat; }
.MultiSelect.chromelike .monitor.active div { background: url("img/chromelike/monitor-right-active.png") top right no-repeat; }
.MultiSelect.chromelike .monitor.active div div { background: url("img/chromelike/monitor-center-active.png") top right repeat-x; }
.MultiSelect.chromelike .monitor:hover { background: url("img/chromelike/monitor-left-hover.png") top left no-repeat; }
.MultiSelect.chromelike .monitor:hover div { background: url("img/chromelike/monitor-right-hover.png") top right no-repeat; }
.MultiSelect.chromelike .monitor:hover div div { background: url("img/chromelike/monitor-center-hover.png") top right repeat-x; }

ul.MultiSelectList {
	position: absolute;
	z-index: 1000;
	top: 18px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 99%;
	max-height: 75px;
	overflow: auto;
	list-style: none;
	background-color: #FFF;
	border-top: 1px solid #ccc;
	border-left: 3px solid #ccc;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	_height: 230px; /* IE */
}
ul.MultiSelectList li {
	padding: 2px;
    white-space: nowrap;
}
ul.MultiSelectList li.hover,
ul.MultiSelectList li.selected.hover {
	background-color: #C8DAF7;
}
ul.MultiSelectList li.selected {
}
ul.MultiSelectList li label {
	font-weight: normal;
    font-size: 100%;
}
